{% extends 'intent/base.html'%}

{% block title%} 
	Панель Администратора
{%endblock%}

{%block body %}


		<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                			<h3>{{intent.name}} <a class="btn btn-default" href="{% url 'panel:intent_edit' intent.name %}"><span class="glyphicon glyphicon-pencil"></span></a></h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table">
							{{ form.as_table }}
						</table>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Ok</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body">
                     <table class="table">
                        <thead>
                        <tr>
                            <th>Наименование Entity <a class="btn btn-default" href="{% url 'panel:story_entity_add' intent.name %}"><span class="glyphicon glyphicon-plus"></span></a></th>
                            <th>Вопрос (если нету)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for story_ent in intent.story_action.story_entity_set.all %}
                            <tr>
                                <td>{{ story_ent.name }}
                                </td>
                                <td>
                                    {{story_ent.question}}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	{% if error_message %}
		<p><strong>{{error_message}}</strong></p>
	{%endif%}

{%endblock%}