{% extends 'intent/base.html'%}

{% block title%} 
	Панель Администратора
{%endblock%}

{%block body %}

	{% if all_logs %}
		<h3> Все Сообщения: </h3>
		<div class="panel panel-default">
                <div class="panel-body">
			<table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Сообщение</th>
                            <th>Intent</th>
                            <th>Действие</th>
                            <th>Дата</th>
                            <th>Чат</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in all_logs %}
                            <tr>
                                <td>{{ log.pk }}</td>
                                <td>
                                	{{log.msg}}
                                </td>
                                 <td>{% if log.intent %}<a href="{% url 'panel:detail_intent' log.intent.name %}">{{log.intent.name}}</a>
                                    {% else%}
                                    intent не найден
                                    {%endif%}
                                </td>
                                <td>
                                    {% if not log.intent.name == "undefined" %}
                                        <button type="submit" class="btn btn-success">Правильно</button>
                                    {%endif%}
                                </td>
                                <td>
                                    {{log.date}}
                                </td>
                                <td>
                                    <a href="{%url 'panel:detail_chat_id' log.chat_id.idnumber%}">{{log.chat_id.idnumber}}</a>
                                </td>
                               
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
	  			</div>
            </div>
		
	{% else %}
		<h3>  Сообщения не найдены</h3>
	{% endif %}
{%endblock%}